:root {
    --code-color: darkred;
    --code-bg-color: #aaaaaa;
    --code-font-size: 14px;
    --code-line-height: 1.4;
    --scroll-bar-color: #c5c5c5;
    --scroll-bar-bg-color: #f6f6f6;
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scroll-bar-bg-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-bar-color);
        border-radius: 20px;
        border: 3px solid var(--scroll-bar-bg-color);
    }
body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color:#eeeeee;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: table;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 5px #cecece;
    font-weight:700;
    cursor:pointer;
}
.cerrar a{
    display:table-cell;
    vertical-align:middle;
}
.otrosconceptos {
    position: absolute;
    width: 50%;
    height: 30vh;
    left: 25%;
    top: 25%;
    display: none;
    background-color: #fff;
    border:1px solid #000;
    z-index:1000;
}
.boton_otros {
    width: 20%;
    height: 40px;
    background-color: #1e1e1e;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    margin: 2%;
    margin-top: -1%;
    float: left;
    display:table;
}
.boton_otros a{
    display:table-cell;
    vertical-align:middle;
}
.error {
    border: none;
    outline: none;
    background-color: #eeeeee;
    color: #000;
    font-size: 18px;
    position: absolute;
    left: 2%;
    top: 3%;
    text-align: right;
}
.parent{
    width:100%;
    height:100vh;
    overflow:hidden;
}
.contenedor_login {
    background-color:#fff;
    width: 40%;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 30%;
    box-shadow: 0px 0px 20px #808080;
    border-radius: 4px;
    position:relative;
}
.logo{
    width:100%;
    height:130px;
    padding-top:10vh;
    text-align:center;
}
.login_textbox {
    border: none;
    outline: none;
    border-bottom: 1px solid #808080;
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease;
}
.login_textbox:hover{
    border-bottom:1px solid #000;
    transition: all 0.2s ease;
}
.login_button {
    outline: none;
    border: 1px solid #1e1e1e;
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    color: #fff;
    background-color: #1e1e1e;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #808080;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
    user-select: none;
}
.login_button:hover{
    background-color:#fff;
    color:#000;
    transition: all 0.2s ease;
}
.login_footer{
    width:90%;
    left:5%;
    position:absolute;
    bottom:40px;
    color:#808080;
    font-size:14px;
    text-align:center;
}
.contenedor_panel {
    background-color: #fff;
    width: 95%;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 2.5%;
    box-shadow: 0px 0px 20px #808080;
    border-radius: 4px;
    position: relative;
}
.sandwich {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: table;
    position: absolute;
    left: 2%;
    top: 2%;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px #808080;
    z-index:10;
}
.sandwich a{
    display:table-cell;
    vertical-align:middle;
    user-select: none;
}
.sandwich:hover{
    background-color:#fff;
    color:#000;
    transition: all 0.2s ease;
}
.closemenu {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: table;
    position: absolute;
    right: 4%;
    top: 2%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px #000;
}
.closemenu a{
    display:table-cell;
    vertical-align:middle;
    user-select: none;
}
.closemenu:hover{
    background-color:#000;
    color:#fff;
    transition: all 0.2s ease;
}
.closepanel {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #262626;
    color: #fff;
    text-align: center;
    display: table;
    position: absolute;
    right: 1%;
    top: 8%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 6px #cecece;
    z-index: 20;
    display: none;
}
.closepanel a{
    display:table-cell;
    vertical-align:middle;
    user-select: none;
}
.closepanel:hover{
    background-color:#000;
    transition: all 0.2s ease;
}
.menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: #1e1e1e;
    border-radius: 4px;
    z-index: 20;
}
.menu_titulo{
    margin-top:5%;
    margin-left:4%;
    font-size:22px;
    color:#fff;
    font-weight:800;
}
.menu_subtitulo {
    margin-top: 2%;
    margin-left: 4%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.botonera {
    margin-top: 10%;
    margin-left: 4%;
    width:80%;
    height:auto;
}
.boton_menu {
    margin-top: 4%;
    width: 100%;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s ease;
    background-color: #000;
    text-align: left;
    height: 30px;
    box-shadow: 0px 0px 60px #000;
}
.boton_menu:hover{
    color:#000;
    background-color:#fff;
    transition: all 0.2s ease;
}
.cerrar_sesion {
    width: 80%;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s ease;
    background-color: #bf2121;
    text-align: left;
    height: 30px;
    box-shadow: 0px 0px 60px #000;
    position:absolute;
    left:4%;
    bottom:10%;
}
.cerrar_sesion:hover{
    background-color:#6d1515;
    transition: all 0.2s ease;
}
.hola {
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    position: absolute;
    right: 2%;
    top: 3%;
    text-align: right;
}
.aspnetpanel{
    display:none;
}
.panel{
    width:95%;
    height:85%;
    position:absolute;
    left:2.5%;
    top:10%;
    border:1px solid #eeeeee;
}
.panel_titulo{
    width:100%;
    position:absolute;
    display:table;
    text-align:center;
    font-size:22px;
    font-weight:600;
    color:#000;
    top:-45px;
}
.panel_titulo a{
    display:table-cell;
}
.contenedor_campos{
    width:90%;
    margin: 0 auto;
    border-bottom:1px solid #808080;
    height:30%;
    max-height:30%;
    overflow-y:scroll;
    position:relative;
}
.contenedor_campos2 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #808080;
    height: 40%;
    max-height: 40%;
    overflow-y: scroll;
    position: relative;
    margin-top:1%;
}
.contenedor_campos3 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #808080;
    height: 38%;
    max-height: 38%;
    overflow-y: scroll;
    position: relative;
    margin-top: 2.5%;
}
.contenedor_campos4 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #808080;
    height: 28%;
    position: relative;
    margin-top: 2.5%;
}
.contenedor_campos5 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #808080;
    height: 20%;
    position: relative;
    margin-top: 2.5%;
}
.label {
    margin: 2%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #000;
    text-align: left;
    padding-left: 4px;
}
.label_alerta {
    margin: 6%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #bf2121;
    text-align: left;
    padding-left: 4px;
    margin-top:30px;
}
.label_alerta2 {
    margin: 6%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #bf2121;
    text-align: left;
    padding-left: 4px;
    margin-top: 26%;
}
.buscar {
    width: 60%;
    position: absolute;
    left: 5%;
    top: 47%;
    height: 30px;
    background-color: #fff;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #000;
    text-align: left;
    padding-left: 4px;
    border-bottom: solid 1px #1e1e1e;
}
.buscar:hover{
    box-shadow: 0px 0px 7px #808080;
    transition: all 0.2s ease;
}
.buscar2 {
    width: 88%;
    position: absolute;
    left: 5%;
    top: 2%;
    height: 30px;
    background-color: #1e1e1e;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    /*border-bottom: solid 1px #1e1e1e;*/
}
.buscar2:hover{
    box-shadow: 0px 0px 7px #808080;
    transition: all 0.2s ease;
}
#TextBox41 {
    margin-top: 12vh;
    width: 40%;
}
#TextBox42 {
    margin-top: 12vh;
}
.campo {
    width: 20%;
    margin:2%;
    height: 40px;
    background-color: #eeeeee;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size:14px;
    color:#000;
    text-align:left;
    padding-left:4px;
}
.campo:hover{
    background-color: #fff;
    transition: all 0.2s ease;
}
.campo_fecha {
    width: 15%;
    margin: 2%;
    height: 40px;
    background-color: #66ae63;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #000;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}
.campo_fecha:hover{
    background-color: #95e491;
    transition: all 0.2s ease;
}
.reload {
    width: 30px;
    height: 30px;
    background-color: #236f1f;
    cursor: pointer;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    display: table;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    bottom: 6%;
    right: 22%;
}
.reload a{
    display:table-cell;
    vertical-align:middle;
}
.reload:hover{
    background-color:#153913;
    transition: all 0.2s ease;
}
.boton_ingresar {
    width: 20%;
    height: 40px;
    background-color: #236f1f;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display:block;
    position:absolute;
    bottom:5%;
    right:0;
}
.boton_ingresar:hover{
    background-color: #153913;
    transition: all 0.2s ease;
}
.boton_ingresar2 {
    width: 20%;
    height: 40px;
    background-color: #236f1f;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display:block;
    margin:2%;
    margin-top:-1%;
    float:right;
}
.boton_ingresar2:hover{
    background-color: #153913;
    transition: all 0.2s ease;
}
#Button28 {
    margin-top: 12vh;
}
.boton_ingresar3 {
    width: 20%;
    height: 40px;
    background-color: #236f1f;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #cecece;
    transition: all 0.2s ease;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: block;
    position: absolute;
    bottom: 2.5%;
    right: 5%;
}
.boton_ingresar3:hover{
    background-color: #153913;
    transition: all 0.2s ease;
}
.contenedor_gridview {
    width: 90%;
    margin: 0 auto;
    margin-top:5%;
    max-height: 60%;
    overflow: auto;
    box-shadow: 0px 0px 5px #cecece;
    position:relative;
}
.contenedor_gridview2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    max-height: 40%;
    overflow: auto;
    box-shadow: 0px 0px 5px #cecece;
    position: relative;
}
.contenedor_gridview3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    height:50%;
    max-height: 50%;
    overflow: auto;
    box-shadow: 0px 0px 5px #cecece;
    position: relative;
    background-color:#1e1e1e;
    color:#fff;
}
.contenedor_gridview4 {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    height:80%;
    max-height: 80%;
    overflow: auto;
    box-shadow: 0px 0px 5px #cecece;
    position: relative;
}
.contenedor_gridview5 {
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    height: 35%;
    max-height: 50%;
    overflow: auto;
    box-shadow: 0px 0px 5px #cecece;
    position: relative;
    background-color: #1e1e1e;
    color: #fff;
}
.gridview1 {
    width: 100%;
    font-size: 16px;
}
.grid_row {
    height: 50px;
}
.col {
    word-wrap: break-word;
    width: auto;
    padding: 5px;
}
.gridview_header {
    text-align: left;
    padding: 5px;
}
.contenedor_acciones{
    position:absolute;
    width:40%;
    right:5%;
    top:32%;
}
.contenedor_acciones2 {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 47%;
}
.boton_editar {
    float: right;
    width: 30%;
    height: 30px;
    background-color: #262626;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 5px #cecece;
    cursor:pointer;
    font-weight:600;
    margin-right:5px;
}
.boton_editar:hover{
    background-color: #000;
    transition: all 0.2s ease;
}
.boton_borrar {
    float: right;
    width: 30%;
    height: 30px;
    background-color: #bf2121;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 5px #cecece;
    cursor:pointer;
    font-weight:600;
}
.boton_borrar:hover{
    background-color: #6d1515;
    color: #fff;
    transition: all 0.2s ease;
}
.boton_reiniciar {
    position:absolute;
    bottom:5%;
    left:5%;
    width: 20%;
    height: 30px;
    background-color: #bf2121;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 5px #cecece;
    cursor:pointer;
    font-weight:600;
}
.boton_reiniciar:hover{
    background-color: #6d1515;
    color: #fff;
    transition: all 0.2s ease;
}
.boton_finalizar {
    position:absolute;
    bottom:5%;
    right:5%;
    width: 20%;
    height: 30px;
    background-color: #236f1f;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 5px #cecece;
    cursor:pointer;
    font-weight:600;
}
.boton_finalizar:hover{
    background-color: #153913;
    color: #fff;
    transition: all 0.2s ease;
}
.total {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 40%;
    height: 30px;
    text-align:center;
    font-size:18px;
    color:#000;
    border:none;
    outline:none;
    font-weight:700;
}
.logo_panel0{
    position:absolute;
    top:5%;
    left:20%;
    width:60%;
    opacity:0.1;
}
.logo_panel0 img{
    width:100%;
    height:auto;
}
.contenedor_impresion{
    width:90%;
    height:auto;
    margin: 0 auto;
    border:1px solid #000;
    position:relative;
    background-color:#fff;
}
.impresion_logo{
    position:absolute;
    left:2%;
    top:2%;
    width:auto;
    height:120px;
}
.impresion_logo img{
    width:auto;
    height:100%;
}
.impresion_datosempresa{
    margin-top:135px;
    margin-left:2%;
    font-size:12px;
    font-weight:600;
    color:#000;
    text-align:left;
    width:40%;
}
.impresion_datosempresa2 {
    position:absolute;
    top: 135px;
    right: 2%;
    font-size: 12px;
    color: #000;
    text-align: left;
    width: 33%;
    font-weight: 600;
}
.impresion_letra{
    outline:none;
    border:1px solid #000;
    font-size:42px;
    font-weight:700;
    position:absolute;
    width:10%;
    height:50px;
    text-align:center;
    left:45%;
    top:5%;
}
.impresion_codigo {
    outline: none;
    border: none;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    width: 20%;
    text-align:center;
    height: auto;
    text-align: center;
    left: 40%;
    top: 19%;
    resize:none;
}
.impresion_compte {
    outline: none;
    border:none;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    width: 30%;
    height: 70px;
    text-align: left;
    right: 5%;
    top: 2%;
}
.impresion_fecha {
    outline: none;
    border: none;
    font-size: 16px;
    position: absolute;
    width: 30%;
    height: 30px;
    text-align: left;
    right: 5%;
    top: 80px;
    font-weight: 600;
}
.impresion_borde{
    height:1px;
    width:100%;
    background-color:#fff;
    border-bottom:1px solid #000;
    margin-top:30px;
    margin-bottom:10px;
}
.impresion_cliente {
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 12px;
    color: #000;
    height: 20px;
    max-width: 50%;
    margin-left: 2%;
    width: 40%;
}
.impresion_domicilio {
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 12px;
    color: #000;
    height: 20px;
    max-width: 50%;
    margin-left: 2%;
    width:40%;
}
.impresion_localidad {
    border: none;
    outline: none;
    margin-top: -25px;
    font-size: 12px;
    color: #000;
    height: 20px;
    width:33%;
    max-width: 40%;
    float: right;
    margin-right: 2%;
    text-align:left;
}
.impresion_contenido{
    width:100%;
    height:100px;
}
.impresion_concepto{
    border:none;
    outline:none;
    width:90%;
    margin-left:2%;
    font-size:12px;
    color:#000;
    resize:none;
    height:90%;
    max-height:90%;
    overflow-y:hidden;
    font-family:'Segoe UI';
}
.impresion_pie {
    width: 100%;
    height: 60px;
    position:relative;
}
.impresion_total{
    position:absolute;
    top:2%;
    right:2%;
    width:60%;
    text-align:left;
    border:none;
    outline:none;
    font-size:14px;
    font-weight:700;
    resize:none;
    font-family:'Segoe UI';
}
.impresion_firma {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 40%;
    text-align: left;
    font-size:12px;
}